#infoBox {
  background-color: #6d4f4f;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .infoBoxParag {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }
  .x-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    .fa-xmark{
      background-color: transparent;
      font-size: 18px;
      color: #fff;
      padding: 0 10px;
    }
  }
}
