#Details {
  background-color: #fffbf3;
  .container {
    .navlink {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      padding-top: 20px;
      margin-bottom: 50px;
      font-size: 18px;
      a {
        text-decoration: none;
        color: #6d4f4f;
      }
      .right {
        opacity: 0.5;
        font-size: 15px;
      }
      .product-name {
        color: #6d4f4f;
      }
    }
    .detail {
      display: flex;
      justify-content: center;
      .details-img {
          width: 55%;
          display: block;
          img{
            padding: 0 2px;
          }
      }
      .details-info{
        color: #6d4f4f;
        .detailsHeader{
            font-size: 32px;
            margin-bottom: 15px;
        }
        .price{
            font-size: 25px;
        }
      }
    }
  }
}
