.cart-summary {
  .cart-checkout {
    .modalCheckBtn {
      width: 100%;
      color: #fff;
      padding: 10px 0;
      border-radius: 7px;
      background-color: #e34875;
    }
    .continue-shopping {
      text-align: center;
      .viewCart {
        text-decoration: underline;
      }
    }
  }
}

// .chakra-modal__footer,
// .css-k0waxj {
// }
.chakra-modal__footer,
.s-k0waxj {
  padding: 0px;
}
