#Details {
  background-color: #fffbf3;
  .container {
    .navlink {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      padding-top: 20px;
      margin-bottom: 50px;
      font-size: 18px;
      a {
        text-decoration: none;
        color: #6d4f4f;
      }
      .right {
        opacity: 0.5;
        font-size: 15px;
      }
      .product-name {
        color: #6d4f4f;
      }
    }
    .detail {
      display: flex;
      justify-content: space-between;
      padding-bottom: 50px;
      .details-img {
        width: 45%;
      }
      .details-info {
        color: #6d4f4f;
        width: 50%;
        .detail-title {
          display: flex;
          justify-content: space-between;
          .detailsHeader {
            font-size: 34px;
            font-weight: 700;
            margin-bottom: 15px;
          }
          .action-icon {
            background-color: #fff;
            border-radius: 50%;
            font-size: 45px;
            padding: 11px 11px;
            color: #000;
            cursor: pointer;
            transition: all 0.2s;
            border: 1px solid #5c5c5c51;
            margin-right: 40%;
            &:hover {
              transform: scale(1.1);
            }
          }
          .wishlist-added {
            background-color: #000;
            color: #fff;
          }
        }
        .price {
          font-size: 25px;
        }
        .quantityParag{
          margin-top: 20px;
          font-weight: 600;
        }
        .add-to-cart{
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          column-gap: 18px;
          .cart-product-quantity {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 130px;
            max-width: 100%;
            border: 0.5px solid rgb(177, 177, 177);
            border-radius: 5px;
            button {
              border: none;
              outline: none;
              background: none;
              padding: 10px 1.7rem;
              cursor: pointer;
            }
          }
          .detailAddBtn{
            width: 100%;
            padding: 12px 37px;
            border-radius: 8px;
            font-weight: 700;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid #000;
            transition: all 0.4s;
            &:hover {
              background-color: #000;
              color: #fff;
              transform: scaleY(1.1);
            }
          }
        }
      }
    }
    @media only screen and (max-width: 765px) {
      .detail {
        display: block;
        padding: 0 20px;
        width: 100%;
        .details-img {
          width: 100%;
        }
        .details-info{
          width: 100%;
          .add-to-cart{
            margin-bottom: 30px;
          }
        }
      }
    }

    // Info section
    .chakra-tabs__tablist,
    .css-1xhq01z {
      // margin: 0 40%;
      border-bottom: 1px solid #6d4f4f5b;
    }
    .tabsHeaders {
      display: flex;
      margin: 0 auto;
      column-gap: 20px;
      .tabHeader {
        font-size: 19px;
        color: #6d4f4fc1;
        &:focus {
          color: #574141;
        }
      }
    }
    .tabtxt {
      color: #6d4f4f;
      padding: 50px 0;
    }
  }

  @media only screen and (max-width: 765px) {
    .container{
      .productstabs{
        padding: 20px 20px;
      }
    }
  }
}
