.cart-summary {
  .cart-checkout {
    .subtotal{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      font-size: 19px;
      color: #3c2b2b;
    }
    .modalCheckBtn {
      color: #fff;
      padding: 10px 100px;
      border-radius: 7px;
      background-color: #e34875;
      font-size: 15px;
      font-weight: 700;
    }
    .continue-shopping {
      text-align: center;
      .viewCart {
        margin-top: 15px;
        color: #231c1c;
        text-decoration: underline #6d4f4f;
      }
    }
  }
}

.chakra-modal__footer{
  width: 100%;
}

