#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  height: 540px;
  .mySwiper {
    .swiper-pagination {
      background-color: transparent;
      margin-right: 2%;
      .swiper-pagination-bullet {
        background-color: #7f6564;
        width: 10px;
        height: 10px;
        margin-bottom: 18px;
      }
    }
  }
}
