#Footer {
  background-color: #efeadf;
  .container {
    .footer {
      background-color: #efeadf;
      padding: 50px 0;
      display: flex;
      justify-content: space-between;

      .footer-input {
        background-color: transparent;
        color: #6d4f4f;
        .footer-header {
          background-color: transparent;
          font-size: 35px;
          font-weight: 600;
          margin-bottom: 20px;
        }
        .footer-parag {
          background-color: transparent;
          font-size: 17px;
          width: 62%;
          margin-bottom: 20px;
        }
        .input {
          position: relative;
          background-color: transparent;
          width: 62%;
          .footerInput {
            padding: 12px 35px;
            width: 100%;
            border: none;
            border-radius: 7px;
          }
          .inputMessage{
            position: absolute;
            bottom: 12px;
            left: 10px;
            font-size: 18px;
          }
          .inputNav {
            position: absolute;
            bottom: 12px;
            right: 10px;
            font-size: 18px;
          }
        }
      }
      .footer-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 110px;
        margin-right: 15%;
        background-color: transparent;
        color: #6d4f4f;
        ul {
          background-color: #efeadf;
          list-style: none;
          li {
            background-color: #efeadf;
            margin-bottom: 10px;
            a {
              text-decoration: none;
              background-color: transparent;
              color: #6d4f4f;
              font-size: 16px;
              &:hover {
                color: #676767;
              }
              &:after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: #e34875;
                transition: width 0.3s;
              }

              &:hover::after {
                width: 100%;
              }
            }
          }
          .serv-info {
            margin-bottom: 17px;
            font-size: 18px;
            font-weight: 800;
          }
        }
      }
    }
    .footer-down {
      background-color: #efeadf;
      color: #6d4f4f;
      display: flex;
      justify-content: space-between;
      .footer-txt {
        background-color: transparent;
      }
      .icons {
        background-color: transparent;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        column-gap: 35px;
        a {
          text-decoration: none;
          background-color: transparent;
          .social-media {
            background-color: transparent;
            font-size: 17px;
            color: #6d4f4f;
          }
        }
        img {
          background-color: transparent;
        }
      }
    }
    @media only screen and (max-width: 992px) {
      .footer {
        padding: 50px 15px;
        display: block;
        .footer-input {
          margin-bottom: 28px;
        }
        .serv-info {
          padding-top: 25px;
        }
      }
      .footer-down {
        display: block;
        .footer-txt {
          text-align: center;
          margin-bottom: 20px;
        }
        .icons {
          flex-wrap: wrap;
          margin: 0 auto;
        }
      }
    }
  }
}
