#Home {
  background-color: #fffbf3;
  .second-section {
    .second-section-header {
      text-align: center;
      color: #6d4f4f;
      font-size: 45px;
      font-weight: 700;
      margin-top: 70px;
      margin-bottom: 40px;
    }
  }
  .container {
    .third-and-sixth-section {
      padding: 110px 0;
      display: flex;
      align-items: center;
      column-gap: 75px;
      .cakeImg {
        width: 65%;
      }
      .third-sixth-section-text {
        width: 35%;
        .third-sixth-section-header {
          font-size: 40px;
          line-height: 45px;
          font-weight: 700;
          color: #6d4f4f;
          width: 75%;
        }
        .third-sixth-section-parag {
          margin: 17px 0;
          color: #6d4f4f;
          font-size: 17px;
          line-height: 25px;
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
    @media only screen and (max-width: 992px) {
      .third-and-sixth-section {
        display: block;
        padding: 0 15px;
        .cakeImg {
          width: 100%;
        }
        .third-sixth-section-text {
          margin-top: 20px;
          width: 100%;

          .third-sixth-section-header {
            margin-top: 20px;
            width: 100%;
          }
          .third-sixth-section-parag {
            line-height: 29px;
            width: 100%;
            margin-bottom: 25px;
          }
        }
      }
    }
    @media only screen and (max-width: 765px) {
      .third-and-sixth-section {
        .third-sixth-section-header {
          width: 100%;
          font-size: 30px;
        }
      }
    }
  }

  // Fourht section
  .fourth-section {
    color: #6d4f4f;
    background-color: #efeadf;
    padding: 80px 0;
    margin-bottom: 50px;
    .fourth-header {
      text-align: center;
      background-color: transparent;
      font-size: 45px;
      font-weight: 700;
      margin-bottom: 40px;
    }
    .container {
      .sum-shop {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #efeadf;
        .shop-card {
          background-color: transparent;
          img {
            background-color: #efeadf;
            margin-bottom: 10px;
            transition: all 0.5s;
            &:hover {
              transform: scale(1.1);
            }
          }
          a {
            background-color: #efeadf;
            text-decoration: none;
            color: #6d4f4f;
            cursor: pointer;
          }
          .shop-card-header {
            background-color: #efeadf;
            text-align: center;
            font-size: 19px;
            font-weight: 700;
          }
        }
      }
    }
  }

  // Fifth section
  .container {
    .fifth-section {
      color: #6d4f4f;
      .fifth-header {
        font-size: 47px;
        font-weight: 700;
        text-align: center;
      }
      .fifth-box {
        margin-top: 50px;
        display: flex;
        text-align: center;

        .sweeties-card {
          width: 450px;
          img {
            margin: 0 auto;
            margin-bottom: 12px;
          }
          .fifth-card-header {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 10px;
          }
          .fifth-card-parag {
            font-size: 17px;
            width: 80%;
            margin: 0 auto;
          }
        }
      }
      @media only screen and (max-width: 992px) {
        .fifth-box {
          flex-wrap: wrap;
          gap: 30px 40px;
          .sweeties-card {
            width: 35%;
            img {
              margin-bottom: 10px;
            }
            .fifth-card-header {
              margin-bottom: 10px;
            }
            .fifth-card-parag {
              font-size: 17px;
            }
          }
        }
      }
    }
    .sixth-section {
      margin-top: 150px;
    }
  }
}
