#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next {
  background-color: transparent;
}
.swiper-button-prev {
  background-color: transparent;
}

.container {
  .cards {
    text-align: start;
    display: inline-block;
    position: relative;
    .images {
      .action-btn{
        border: none;
      }
      .action-icon {
        box-sizing: border-box;
        visibility: hidden;
        position: relative;
        background-color: #fff;
        border-radius: 50%;
        font-size: 41px;
        padding: 11px 11px;
        color: #000;
        left: 250px;
        bottom: 280px;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          transform: scale(1.1);
        }
      }
      .wishlist-added{
        background-color: #000;
        color: #fff;
      }
      .view{
        position: relative;
        left: 250px;
        bottom: 295px;

      }

      .quick-add-btn {
        box-sizing: border-box;
        visibility: hidden;
        position: relative;
        background-color: #fff;
        bottom: 175px;
        font-size: 15px;
        font-weight: 700;
        padding: 12px 0;
        width: 85%;
        margin-left: 8%;
        border-radius: 7px;
        border: none;
        cursor: pointer;
        transition: all 0.1s;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
      &:hover {
        .img-top {
          display: inline-block;
          width: 100%;
          height: 73%;
          transition: all 0.9s;
          transition-timing-function: ease;
        }
        .quick-add-btn {
          visibility: visible;
          // position: relative;
          z-index: 2;
        }
        .wishlist {
          visibility: visible;
          // position: relative;
          z-index: 5;
        }
        .view {
          visibility: visible;
          // position: relative;
          z-index: 5;
        }
      }
      .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 1;
        &:hover {
          opacity: 1;
          transition-duration: 1s;
        }
      }
    }
    .images {
      margin-bottom: -135px;
    }
    a {
      text-decoration: none;
    }
    .product-info {
      color: #6d4f4f;
      .productName {
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
  }
}
